  
<div class="form">
    <%= form_with model: @job, class: "new_job", html: {multipart: true} do |f| %>
    	<%= f.label :name %>
        <%= f.text_field :name, placeholder: 'name', class: "form-control", id: "name" %>
        <br>
        <%= f.label :description %>
         <p>(min. 50 characters)</p>
        <%= f.text_field :description, placeholder: 'description', class: "form-control", id: "description" %>
        <br>
        <%= f.label :orgin %>
        <%= f.select :orgin, ['USA', 'Russia', 'China', 'Thialand'], {}, {class: "form-control", id: "orgin"} %>
        <br>
        <%= f.label :destination %>
        <%= f.select :destination, ['USA', 'Russia', 'China', 'Thialand'], {}, {class: "form-control", id: "destination" } %>
        <br>
        <%= f.label :containers_needed %>
        <%= f.number_field :containers_needed, placeholder: 'containers needed', class: "form-control", id: "containers_needed" %>
        <br>
        <%= f.label :cost %>
         <p>(min. $1000)</p>
        <%= f.number_field :cost, placeholder: 'cost', class: "form-control", id: "cost" %>
        <br>
         <%= f.label :avatar, "add image" %>
        <br>
        <%= f.file_field :avatar, class:"button" %>
        <br>
        <br>
        <%= f.submit %>
    <% end %>
</div>	
