  
<div class="form">
    <%= form_with model: @job, class:"new_job", html: {multipart: true} do |f| %>
    	<%= f.label :name %>
        <%= f.text_field :name, placeholder: 'name', class: "form-control", id: "name" %>
        <br>
        <%= f.label :description %>
        <%= f.text_field :description, placeholder: 'description', class: "form-control", id: "description" %>
        <br>
        <%= f.label :orgin %>
        <%= f.text_field :orgin, placeholder: 'orgin', class: "form-control", id: "orgin" %>
        <br>
        <%= f.label :destination %>
        <%= f.text_field :destination, placeholder: 'destination', class: "form-control", id: "destination" %>
        <br>
        <%= f.label :containers_needed %>
        <%= f.text_field :containers_needed, placeholder: 'containers needed', class: "form-control", id: "containers_needed" %>
        <br>
        <%= f.label :cost %>
        <%= f.text_field :cost, placeholder: 'cost', class: "form-control", id: "cost" %>
        <br>
         <%= f.label :avatar, "add image" %>
        <br>
        <%= f.file_field :avatar, class:"button" %>
        <br>
        <br>
        <%= f.submit %>
    <% end %>
</div>	
