

  <div class="card col-sm-3 spacing" style="width: 20rem;">
    <%= image_tag job.avatar.url(:thumb) %>
    <div class="card-body">
      <h4 class="card-title"><%= job.name  %></h4>
      <p class="card-text">Description: <%= job.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Orgin: <%=  job.orgin %> </li>
      <li class="list-group-item">Destination: <%=  job.destination %> </li>
      <li class="list-group-item">Containers Needed: <%= job.containers_needed %> </li>
      <li class="list-group-item">Cost: <%= job.cost %> </li>
    </ul>
    <br>
    <div class="dropdown">
      <%= form_with model: @boat_job  do |f| %>
        <%=  select("local_boats", "boat_id", @boats.all.collect {|b| [ b.name, b.id ] }, {prompt: 'Select Ship'}) %>
        <%= f.hidden_field :job_id, value: job.id %>
        <%= f.submit "add", :disable_with => 'Submiting...' %>
      <% end %>
      <ul class="list-group list-group-flush">
        <% @boats.each do |boat| %>
        <li class="list-group-item"><%= boat.name %></li>
        <% end %> 
      </ul>
    </div>
    <div class="card-body">
      <!-- add link, add job to there jobs -->
      <%# link_to image_tag("Add.png", class: "format_left"), user_path(current_user) %>
      <% if current_user == job.user %>
        <%= link_to image_tag("delete.png", class: "format"), job,  method: :delete, remote: true %>
        <%= link_to image_tag("Orange_Edit.png", class: "format"),edit_job_path(job) %>
      <% end %>
    </div>
  </div>

  <%# image_tag @job.avatar.url %>
<%# image_tag @job.avatar.url(:medium) %>
<%# image_tag @job.avatar.url(:thumb) %>