
			<div class="card col-sm-3 spacing boat" id="boat-<%= @boat.id %>" style="width: 20rem;">
        <%= image_tag boat.avatar.url(:medium) %>
        <div class="card-body">
        	<h4 class="card-title"><%= boat.name %></h4>
       		<!--  <p class="card-text">something bout the boat</p> -->
      	</div>
      	<ul class="list-group list-group-flush">
	        <li class="list-group-item">Location: <%= boat.location %></li>
	        <li class="list-group-item">Max. Capacity: <%= boat.max_capacity %></li>
      	</ul>
        <br>
        <div class="dropdown">
          <%= form_with model: @boat_job, scope: 'boat_job', class: "new_job_boat"  do |f| %>
           <%= f.collection_select(:job_id, @job_all, :id, :name)%>
            <%#  select("local_jobs", "job_id", @job_all.all.collect {|j| [ j.name, j.id ] }, {prompt: 'Select Contract'}) %>
            <%= f.hidden_field :boat_id, value: boat.id %>
            <%= f.submit "add", :disable_with => 'Submiting...' %>
          <% end %>
          <div class="card-body boat_job">
              <% boat.jobs.each do |job| %>
            <ul class="list-group list-group-flush">
              <li class="list-group"><%= job.name %>
                <% if current_user == boat.user %>
                  <%= link_to image_tag("delete.png", class: "format_small"), boat_jobs_path(job),  method: :delete, remote: true %>
                <% end %>
            </ul>
            <% end %>
          </div>
        <div class="card-body">
          <!-- add link, add job to there jobs -->
          <%# link_to image_tag("Add.png", class: "format_left"), user_path(current_user) %>
        <% if current_user == boat.user %>
          <%= link_to image_tag("delete.png", class: "format"), boat,  method: :delete, remote: true %>
          <%= link_to image_tag("Orange_Edit.png", class: "format"), edit_boat_path(boat) %>
        <% end %>
        </div>
      </div>
    </div>
    <div>
</div>